<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="topnav">
            <a  href="/">Home</a>
            <a class="active" href="/upload">Up load</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <h1>up load </h1>
        
    </body>
</html>